---
layout: default
title: vindurriel
---
{% include JB/setup %}
<div class="row-fluid"  >
  <div class="span3" >
    <div class="banner bg-img" >
    </div>
  </div>
  <div class="span6" style="padding:5em 1em" >
    <div class="post-list">
      <ul  >
        {% for post in site.posts   %}
        {% unless post.draft %}
        <li>
          {% include JB/tags_list %}
          <h2  class="entry-caption">
            <a style="display:block" href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <div class="entry-content">{{ post.description  }}</div>
        </li>
        {% unless forloop.last %}
        <hr>
        {% endunless %}
        {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
