/* Custom container */
code,pre{
  font-family: Consolas,Menlo,"Droid Sans Mono";
}
.page-title{
  background: black;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  color:white;
}
html,body{
  height: 100%;
  margin:0;
  padding:0;
}
#wrap{
  padding-top: 2em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0;
  margin-bottom: 2em;
}
.footer{
  background: black;
  color: white;
  height: 2em;
  line-height: 2em;
}
.footer a{
  color:#ccc;
}
#back img{
  cursor: pointer;  
  width: 1.5em;
  height: 1.5em;
}
.banner{
  color:#fff;
  padding: 5em 0;
  background:transparent url("/images/banner.jpg")  fixed no-repeat;
}
.banner h3{
  margin-top: 1em;
  opacity: .6;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar{
  color:#fff;
  background-color: black;
  line-height: 2em;
}
.nav-title{
  opacity: 0
}

.navbar li>a{
  color: #ccc;
  text-shadow:none;
  text-decoration: none;
}
.navbar li>a:hover{
  color: white;
  text-shadow:black;
}
.nav{
}

.content{
  margin-top: 1em;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

.post-list{
  border-left: 1px solid #eee;
  margin-top: -1em;
  padding-top: 2em;
}

.entry-title{
  padding-left: 1em;
  border-left: 5px solid #0088cc;
  line-height: 2em;
}
.entry-title li a{
  color: black;
}
.entry-caption{
  font-size: 2em;
  padding-bottom: .5em;
}

.entry-content{
  padding-left: 1em;
  border-left: 5px solid transparent;
}
/* tag_box */
.tag_box,.post-list ul{
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; 
  margin: 0px 0px 0px 2px;
}

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.comments{
  padding-top: 2em;
}