/* Custom container */
.node {
  color: black;
  stroke: #fff;
  stroke-width: 1.5px;
}
a,code{
  color:#15a89e;
  text-decoration: none;
}
a:hover,a:focus{
  color:#69a2a5;
  text-decoration: none;
}
input.search-query{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
}
.link {
  color: black;
  stroke: #999;
  stroke-width:2px;
  stroke-opacity: .6;
}
code,pre{
  font-size: 14px;
  font-family: Consolas,Menlo,"Droid Sans Mono","Ubuntu Mono","Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}
.lineno{
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
article p{
  margin: 2em 0;
  line-height: 1.5em;
}
body{
  position: absolute;
  left: 0;top: 0;bottom: 0;right: 0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}
h1{
  font-family: "Microsoft Yahei";
  line-height:1.2em;
}
#nav-btn{
  -webkit-box-sizing: border-box;
  z-index: 100;
  border: none;
  position: fixed;
  left: 1em;
  top: 1em;
  background: black url("/images/blacktocat.png") center no-repeat;
  width:3em;
  height:3em;
}
.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0; 
  /*overflow-x: hidden;*/
}
::-webkit-scrollbar { 
  display: none; 
}
.menu {
  position: fixed;
  z-index: 200;
  top:0;
  bottom: 0;
  left:0;
  overflow-x:hidden;
  background: url("/images/bgb.png");
  width: 0px;
  -webkit-transition: width 0.25s ease-out;
  -moz-transition: width 0.25s ease-out;
  -o-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out; 
}


.site-nav-in .menu{
  width: 350px;
}

.view {
  width: 100%;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out; 
}
.site-nav-in .view{
  margin-left: 350px;
}


.nav-overlay{
  display: none;
  position: absolute;
  left:350px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.5);
  -webkit-filter: blur(2px);
  z-index: 1000;
}
.site-nav-in .nav-overlay{
  display: block;
}


#back {
  cursor: pointer;  
  width: 1.5em;
  height: 1.5em;
}

.menu .gsc-control-cse{
  padding: 0;
}
.menu .gsc-search-box{
  padding: 0;
}
.menu .gsc-results-wrapper-overlay{
  z-index: 100002;
}

.menu li{
  white-space: nowrap;
  font-size: 1.2em;
  list-style: none;
  padding: 2em 0;
}

.menu li>a{
  color: #aaa;
  text-shadow:none;
  text-decoration: none;
}
.menu li>a:hover{
  color: #ddd;
  text-shadow:black;
}
.menu li>a.active{
  color: white
}
.menu input{
  margin-bottom: 0;
}
.content{
  margin-top: 10em;
}

.post > h3.title {
  position: relative;
  padding-top: 10px; 
}

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em;
}

.post > .more {
  margin: 10px 0;
  text-align: left;
}

.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

.post-list hr{
  margin-left: 1em;
  border-top-color: #ccc;
  width: 70%;
}

.entry-title{
  padding-left: 1em;
  line-height: 2em;
}
.entry-title   a{
  color: black;
  text-decoration: none;
}
.entry-caption{
  font-size: 2em;
  font-weight: bold;
  padding-bottom: .5em;
}

.entry-content{
  padding-left: 1em;
}

.entry-content a{
  color:black;
}

/* tag_box */
.tag_box,.post-list ul{
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px; 
  margin: 0px 0px 0px 2px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}


.blog-info{
  position: fixed;
  z-index: 100;
  left:80%;
  top:1em;
  margin-top: 10em;
  margin-left:1em;
  color:#888;
  text-align: left;
}

.site-nav-in .blog-info{
  display: none;
}

.blog-info img{
  margin-bottom: 1em;
  display: block;
  width: 40px;
  width: 40px;
}

.blog-info hr{
 width: 50px;
}

.blog-info strong{
  color:black;
  padding-bottom: 1em;
}

li{
  list-style: none;
}
.blog-info li>a{
  color: #888;
}
.post-title{
  margin:0;
  margin-bottom: 40px;
}

.next-page{
  background: #f9f9f7;
  margin-top: 50px;
  border-top: #e0e0df  solid 1px;
  padding: 50px;
  position: relative;
}

.next-page a{
  color:black;
  text-decoration: none;
}

.next-btn{
  position: absolute;
  text-align: center;
  top:-1em;
  left:0;
  right: 0;
}


.next-btn a{
  color: #555;
  background: white;
  text-decoration: none;
  border:  #e0e0df solid 1px;
  padding: 10px;
  height: 2em;
  width: 4em;
}
table td {
  vertical-align: top;
}
.mybtn{
  background: #15a89e;
  top:0;
  color: white;
  margin:2em 0; 
  padding:5px 2em;
  border:none;
}


.banner{
  border-right:rgba(0,0,0,0.5) solid 1px;
  position: fixed;
  width: inherit;
  height: 100%;
  background-size: cover;
  background:  url("/images/banner.png")  left top no-repeat;
}

#search-results{
  -webkit-transition: height .2s ease-out;
  -moz-transition: height .2s ease-out;
  -o-transition: height .2s ease-out;
  transition:height .2s ease-out;
}
.modal{
  z-index: 3000;
}
.pagination{
  margin: 2em 1em;
}
@media (max-width: 767px){
  .banner{
    position: static;
    min-height:800px; 
  }
  .view,.menu{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; 
  }
  #nav-btn{
    position: absolute;
  }
  .blog-info{
    margin-top: 0;
    position: static;
  }
  #outline{
    display: none;
  }
} 