<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	<link href="{{ ASSET_PATH }}/css/syntax.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/d3.parsets.css" rel="stylesheet" type="text/css" >
	<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
	<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
</head>
<body>
	{% include JB/setup %}
	<div class="frame">
		<div class="nav-bg">
			<button id="nav-btn"></button>
		</div>
		<div class="menu">
			<ul>
				<img src="/images/up.png"  id="back" style="opacity:0;" title="返回顶部">
				<li><a href="/">首页</a></li>
				<li><a href="/about.html">关于</a></li>
				<li><a href="/archive.html">存档</a></li>
				<li><a href="/tags.html">标签</a></li>
				<li><a href="/atom.xml">订阅</a></li>
				<li>
					<form id="search" class="search-query">
						<input type="search" name="q" id="q" placeholder="Enter keywords..."/>
						<a href="#myModal"  class="btn" data-toggle="modal">搜索</a>
					</form>
				</li>
			</ul>
		</div>
		<div class="nav-overlay"></div>
		<div class="view">
			{{ content }}	
		</div>
	</div>
	{% include JB/analytics %}
	<script type="text/javascript">
	$(document).ready(function (){
		$("#back").click(function(){
			$("html, body").animate({ scrollTop: "0px" });
		});
		var loc = window.location.pathname;
		$(".menu li>a").each(function(){
			if ($(this).attr("href") == loc) {
				$(this).addClass("active");
			}
		});
		$("#nav-btn").click(function(){
			$("body").addClass("site-nav-in");
		});
		$(".nav-overlay").click(function(){
			$("body").removeClass("site-nav-in");
		});
	});
	</script>
	<script src="/javascripts/lunr.min.js"></script>
	<script src="/javascripts/search.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<div id="myModal" class="modal hide fade"  >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Modal header</h3>
		</div>
		<div class="modal-body">
		</div>
	</div>
</body>
</html>
